












/* BEGIN CSS Content16/styles.css */

@font-face {
  font-family: FreeSetC;
  src: url('../media/FreeSetC.ttf');
}

@font-face {
  font-family: FreeSetMP;
  src: url('../media/FreeSetMP.ttf');
}

@font-face {
  font-family: FreeSetBold;
  src: url('../media/FreeSetBold.ttf');
}

.FontFreeSetC {
  font-family: FreeSetC, "Trebuchet MS", Arial;
  color:#777;
  font-size: 23px;
  letter-spacing: 1px;
}

.FontFreeSetMP {
  font-family: FreeSetMP, "Trebuchet MS", Arial;
  color:#444;
  font-size: 17px;
  line-height: 15px;
  letter-spacing: 1px;
}

.FontFreeSetBold {
  font-family: FreeSetBold, "Trebuchet MS", Arial;
  font-size: 9pt;
}

.TableBg {	
	margin:0px;
	margin-right: 12px;
	float:left;
	width:308px;
	height:194px;
	background-image:url(../media/TableBg01.png);
	background-repeat:no-repeat;
}
.TableBgIcon {	
	width:308px;
	height:194px;
	background-image:url(../media/cal.png);
	background-position: right bottom;
	background-repeat:no-repeat;
}

.ReadMoreButton {
	width:124px;
	height:42px;
	background-image:url(../media/ImgButton.png);
	background-repeat:no-repeat;
	padding:9px;
	padding-left:19px;
	color:White;
}

.ReadMoreButton a {
	color: White;
	text-decoration: none;
}

/* END CSS Content16/styles.css */


/* BEGIN CSS Content02/content.css */


.Test2 {
	font-family:Verdana,Calibri,Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	color: #000000;
}


/* END CSS Content02/content.css */

